<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome Email</title>
  </head>
  <body>
    <div>
      <center><img width="100" height="100" src="https://paws-adoption.s3.ap-south-1.amazonaws.com/logo.png"/></center>
      <p>Hello {{name}},</p>
      <div>
        <p>We are elated to meet you.</p>
        <p>
          Thankyou for joining The Paws community. Paws Adoption is a end to end
          open-source animal help plaform by the people for the people. It started as a inhouse project under
          dbox codex batch of '23. We currently hold a total of 4K pets which
          makes upto 14.5K images. If you are developer and want to be a part of
          something awesome. Hit us up!!
        </p>
        <p>
          If you are Pet enthusiast join us at discord and say `hey` on #general,
          We would love to know you better. We are constantly looking for
          passionate rescuers, moderaters and doners. If you have any query you can always
          reach out to us. We will be in touch. Seeya!!
        </p>
      </div>
      <div>
        <p>Thankyou,<br/>
         Hardik and Aditya<br/>
       Fellow paws</p>
      </div>
    </div>
  </body>
</html>
