body {
  animation: animate 16s ease-in-out infinite;
  background-size: cover;
  color: white;
  background-position: center;
}

h1 {
  font-size: 95px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 28px;
}

.btn {
  cursor: pointer;
  background-color: var(--green);
}

@keyframes animate {
  0%,
  100% {
    background-image: url(../../public/assets/bg/dog1.png);
  }

  25% {
    background-image: url(../../public/assets/bg/dog2.png);
  }

  50% {
    background-image: url(../../public/assets/bg/dog3.png);
  }

  75% {
    background-image: url(../../public/assets/bg/dog4.png);
  }
}

/* Banner CSS */

.banner-div {
  max-width: 55%;
  position: absolute;
  bottom: 30%;
}

.banner-btn {
  border-radius: 30px;
}

@media screen and (max-width: 900px) {
  body {
    background-position: center;
    animation: animate 16s ease-in-out infinite;
  }

  .banner-div {
    max-width: 90%;
    position: absolute;
  }

  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 24px;
  }

  @keyframes animate {
    0%,
    100% {
      background-image: url(../../public/assets/bg/dog4.png);
    }

    50% {
      background-image: url(../../public/assets/bg/dog2.png);
    }
  }
}
