body {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  font-family: "Cormorant", serif;
  font-weight: 400;
  width: 100%;
  overflow: hidden;
}

.image-div {
  width: 70%;
  background-color: antiquewhite;
  height: 100vh;
}

.content-div {
  width: 30%;
  height: 100vh;
}
